*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif
}

header {
    min-height: 20vh;
}
main {
    min-height: 70vh;
}
footer{
    min-height: 10vh;
    background-color: #121212;
    text-align: center;
    align-content: center;
    color: #CFFF15;
}

.header>img {
    width: 75px;
    margin-left: 15px;
}
.header {
    display: flex;
    align-items: center;
    background-color: #121212;
    color: #CFFF15;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header>h1 {
    margin-left: 420px;
}
  
.navbar {
    background-color: #CFFF15;
    padding: 5px;
    text-align: center;
}
nav>a {
    color: #121212;
    text-decoration: none;
    margin-right: 30px;
    font-weight: bold;
}

.presentacion {
    color: #CFFF15;
    text-align: center;
    padding: 100px 20px;
    background-image: url(../images/background-01.jpg);
    
}
.presentacion>h2 {
    margin-bottom: 20px;
}
.presentacion p {
    color: white;
}

.productos img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.productos-titulo>h3 {
    text-align: center;
    padding: 20px;
    margin-top: 10px;
    background-color: #E6E6E6;
    color: #121212;
}
.productos {
    background-color: white;
    display: flex;
    justify-content: space-around;
}
.detalle {
    background-color: #121212;
    text-align: center;
    padding: 5px 110px 15px;
    border-radius: 10px;
    margin: 10px;
}
.detalle h4 {
    margin: 10px 0;
    color: #CFFF15;
}
.detalle p {
    margin: 10px 0;
    color: white;
}
.detalle h5 {
    margin: 10px 0;
    color: white;
}
.detalle a {
    background-color: #CFFF15;
    padding: 7px;
    border-radius: 5px;
    color: #121212;
    font-weight: bold;
    text-decoration: none;
}

.categorias {
    background-color: #E6E6E6;
}
.imagen-categoria {
    display: flex;
    justify-content:space-around

}
.imagen-categoria img {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
}
.categorias h3 {
    text-align: center;
    padding: 20px;
}

.about h2 {
    text-align: center;
    margin: 40px 0 40px;
    padding: 20px;
    color: #121212;
}
.about p {
    width: 900px;
    margin-left: 200px;
    text-align: center;
    margin-bottom: 60px;
}
.body-about {
    background-color: #E6E6E6;
}
.about {
    background-color: white;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
}

.team h3 {
    text-align: center;
    margin: 40px 0 40px;
    color: #121212;
}

.contenedor {
    display: flex;
    justify-content: space-around;
}
.miembro {
    background-color: #121212;
    width: 300px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}
.miembro img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}
.miembro h4 {
    color: #121212;
    background-color: #CFFF15;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.miembro h5 {
    color: white;
    margin-bottom: 10px;
}
.miembro p {
    color: white;
}

.nuestros-valores {
    text-align: center;
    background-color: white;
    padding: 40px 0 20px;
    margin: 15px;
    line-height: 1.4;
    border-radius: 15px;
}
.valores dt {
    font-weight: bolder;
}
.nuestros-valores h3 {
    margin-bottom: 20px;
}

.contenedor-productos {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.categorias-y-productos {
    display: flex;
    margin-bottom: 40px;
    gap: 5px;
}
.menu-lateral {
    width: 25%;
    height: 500px;
    background-color: #E6E6E6;
    padding: 10px 20px 0 20px;
}
.menu-lateral h3 {
    margin-bottom: 15px;
    color: #121212;
    text-align: center;
}
.menu-lateral h4 {
    background-color: #121212;
    padding: 5px;
    border-radius: 5px;
    color: #CFFF15;
    margin: 15px 0 5px;
}
.menu-lateral p {
    color: #121212;
    margin: 10px 0 0 10px;
}

.seccion-productos {
    width: 75%;
}
.seccion-productos h3 {
    color: #121212;
    padding: 15px;
    background-color: #E6E6E6;
    margin-bottom: 15px;
}

.producto-grilla {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.producto-grilla img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.cuadro-producto {
    text-align: center;
    background-color: #121212;
    width: 260px;
    height: 300px;
    padding: 15px;
    border-radius: 10px;
    margin: 5px;
}
.cuadro-producto h4 {
    margin: 10px 0;
    color: #CFFF15;
}
.cuadro-producto p {
    margin: 10px 0;
    color: white;
}
.cuadro-producto h5 {
    margin: 10px 0;
    color: white;
}
.cuadro-producto a {
    background-color: #CFFF15;
    padding: 7px;
    border-radius: 5px;
    color: #121212;
    font-weight: bold;
    text-decoration: none;
}



table, tr, td, th {
    border: 3px solid white;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
}
.beneficios h3 {
    margin: 20px 0 20px 0px;
    color: #121212;
}
.beneficios table {
    width: 100%;
    margin-bottom: 10px;
}
.beneficios th {
    background-color: #CFFF15;
    color: #121212;
}
.beneficios td {
    background-color: #E6E6E6;
}